.show-name {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    font-family: fantasy;
    border-radius: 10px;
    display: none;
    position: absolute;
}

.container {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    background-color: black;
}

.img-node {
    position: absolute;
}

.img-node img{
  position: absolute;
}
